.numbers {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    gap: 0.3rem;
  }
  
  .number {
    text-align: center;
    border: 2px solid var(--color-bingo);
    padding: 0.5rem;
    margin: 0;
    font-size: 30px;
  }
  
  .painted-number {
    background-color: var(--color-bingo);
    color: white;
    border: 1px solid white;
    
    margin: 1px;
   
  }