.cardboards{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
  
}
.cardboard{
    display: grid;
    grid-template-columns: 70px 70px 70px 70px 70px;
    grid-template-rows: 70px 70px 70px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 40px;
    border: 8px solid var( --color-cardboard);
    border-radius: 10px;
    padding: 0.5rem;
    // background-color: white;


}

.cardboard-number{
    padding: 0.5rem;
    border: 2px solid var(--color-cardboard);
    border-radius: 8px;
    margin: 2px;
}

.number-correct{
    background-color: var(--color-cardboard);
    color: var(--color-white);
    border: 1px solid var(--color-white);
    border-radius: 8px;
    margin: 2px;
}