.cardboards{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    gap:20px;
  
}
.cardboard{
    display: grid;
    grid-template-columns: 70px 70px 70px 70px 70px;
    grid-template-rows: 70px 70px 70px;
    justify-content: center;
    padding: 0.5rem;
    align-items: center;
    text-align: center;
    font-size: 40px;
    border: 8px solid var( --color-cardboard);
}

.cardboard-number{
    padding: 0.5rem;
    border: 2px solid var(--color-cardboard);
    margin: 2px;
}

.number-correct{
    background-color: var(--color-cardboard);
    color: var(--color-white);
    border: 1px solid var(--color-white);
    
    margin: 2px;
}