.header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 50px 180px 50px 180px;
    background-color: var(--color-bingo-background);
    margin-bottom: 100px;

}
