/* ESTILOS DEL MAIN */
.main {
  display: flex;
  justify-content: center;
  gap: 3rem;
}
.numbers {
  display: grid;
  grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
  justify-content: center;
  align-items: center;
  border: 8px solid var(--color-bingo);
  border-radius: 10px;
  padding: 0.5rem;
  // background-color: white;
  gap: 0.3rem;
}

.number {
  padding: 0.5rem;
  text-align: center;
  border: 2px solid var(--color-bingo);
  border-radius: 5px;
  margin: 0;
  font-size: 30px;
}

.painted-number {
  background-color: var(--color-bingo);
  color: var(--color-white);
  border: 1px solid var(--color-white);
  border-radius: 5px;
  margin: 1px;

}