.pc-bingo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__title{}
    &__numbers{
        width: 500px;
        height: 350px;
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        grid-template-rows: 33% 33% 33%;
        background-color: rgb(217, 117, 237);
    }
    }