:root {
  /* Variables CSS */
  --font:'Ysabeau SC', sans-serif;
  --color-cardboard : rgb(0, 0, 153);
  --color-bingo: rgb(144, 0, 0);
  --color-bingo-background: rgb(93, 0, 0);
  --color-white: white;
}

/* Variables SASS */
